# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
venv/
env/
.venv/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Build
build/
dist/
*.egg-info/

# Logs
*.log

